@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

body {
  font-family: "Gilroy", sans-serif;
  color: #101010;
}

*,*:focus,*:hover{
  outline:none;
}